{{ define "html-head" }}
    <title>Achibiti</title>
    <!-- HTML5 Shim and Respond.js IE11 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 11]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="">
    <meta name="author" content="Phoenixcoded" />
    <!-- Favicon icon -->
    <link rel="icon" href="/static/assets/images/favicon.ico" type="image/x-icon">

{{ end }}

{{ define "head-bottom-link" }}

{{ end }}

{{ define "header" }}
<div class="header" data-controller="layout">
    <div class="header-top">
        <div class="inner">
            <div class="container-fluid">
                <div class="text-center page-title">
                    <a href="/"> dcrextdata </a>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="container-fluid">
            <button data-action="click->layout#toggleNavbar" class="navbar-toggler" type="button" data-toggles="collapse" data-target="#nav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="nav" data-target="layout.navbar">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link" id="nav-mempool" href="/mempool">
                            <span class="text">Mempool</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nav-propagation" href="/propagation">
                            <span class="text">Propagation</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nav-pow" href="/pow">
                            <span class="text">PoW</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nav-vsp" href="/vsp">
                            <span class="text">VSPs</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nav-exchanges" href="/exchanges">
                            <span class="text">Exchanges</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nav-community" href="/community">
                            <span class="text">Community</span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</div>
{{ end }}

{{ define "footer" }}
<script>
    $(function () {
        var pathname = window.location.pathname;
        var paths = pathname.split("/")
        var currentNavItem = "#nav-home";
        if (pathname != "/" && paths.length > 1) {
            currentNavItem = "#nav-" + paths[1];
        }
        $(currentNavItem).addClass("active");
    });
</script>
{{ end }}
